<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Details</title>
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<a>Teacher detail</a>
<form action="{% url 'teacher:update' %}" method="post">
{% csrf_token %}
<input type="text" name="username" id="username">
<label> Username: </label><br>
<input type="text" name="password" id="password">
<label> Password: </label><br>
<br>
<input type="text" name="name" id="name">
<label> Full Name: </label><br>
<input type="submit" value="Register">
</form>
</body>
</html>