<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<form action="{% url 'teacher:register' %}" method="post">
{% csrf_token %}
<input type="text" name="username" id="username">
<label> Username: </label><br>
<input type="text" name="password" id="password">
<label> Password: </label><br>
<input type="text" name="password" id="password2">
<label> Password (again): </label><br>
<input type="submit" value="Register" id="register">
</form>

</body>
</html>