<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parent Site</title>
</head>
<body>
{% load static %}
    <a>This is the landing page.</a>
    <a>With some explanation on whats going on</a>
    <br>


    <link rel="stylesheet" type="text/css" href="{% static 'teacher/style.css' %}">
    <form action="{% url 'teacher:auth' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" id="username">
    <label> Username: </label><br>
    <input type="text" name="password" id="password">
    <label> Password: </label><br>
    <input type="submit" value="Login" id="login">
    </form>

     <button type="submit" onclick="location.href='{% url 'teacher:register' 0%}'" name='register'>Register</button>
</body>
</html>